@keyframes color {
    0%   { background: #F5CE2F; }
    20%  { background: #e9aa4d; }
    40%  { background: #e04244; }
    60%  { background: #FAD127; }
    80%  { background: #F8B959; }
    100% { background: #F5CE2F; }
}

body {
    background: #F5CE2F; 
    animation: color 9s infinite linear;
    font-family: 'Copperplate', fantasy;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.problem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10%;
}

.mcds-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 50px;   
}

.mcd {
    position: relative;
    width: 30%;
    border-radius: 5px;
    /* border: 15px solid rgb(0, 0, 0);
    border-radius: 10px; */
    box-shadow: 10px 10px 5px black;
}

.you {
    font-size: 4vw;
}

.applet-text {
    margin: 20%;
    margin-top: 0;
}

.applet {
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
}

.connect-images {
    margin-top: 10%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}
.applet-images img {
    max-width: 40%;   /* Ensures images don't exceed the container's width */
    height: auto;      /* Maintains aspect ratio */
    /* border: 10px solid #000;  /* Adds a border around the images */
    /* border-radius: 20px;  */
    border-radius: 5px;
    box-shadow: 10px 10px 5px black;
    margin-left: 10px;
    margin-right: 10px;
}

.applet-description {
    font-size: 2vw;
    font-family:'Arial', sans-serif;
    font-weight: bold;
    margin-top: 80px;
}

.connect-text {
    margin-bottom: 40px;
}

.connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 120px;
    font-size: 4vw;
}